* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* CSS Variables */
:root {
  --font-family: sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: underline;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/* Navigation Styling */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  background-color: lightgrey;
}

nav h1 {
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: rgb(0, 229, 255);
  color: black;
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
  display: flex;
}

/* The hero banner */
.hero-banner {
  position: relative; 
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/02-hero-bg.jpg');
  background-size: cover;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
}

/* Place text in the middle of the image */
.hero-text > h3{
  text-align: center;
  position: right;
  letter-spacing: 2px;
  background-color: rgb(0, 229, 255);
  color: black;
}


#about, #skills, #contact, #resume {
  width: 80rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px #8b8eaf;
}

#about h1 {
  margin-bottom: 0.7rem;
}

#about p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}  

#skills h1 {
  margin-bottom: 0.7rem;
}

#skills p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}
  
#contact h1 {
  margin-bottom: 0.7rem;
}

#contact p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}

#resume h1 {
  margin-bottom: 0.7rem;
}

#resume p {
  line-height: 1.7rem;
  padding: 0.3rem 0;
}

.skills, .about, .contact, .resume, .avatar-wrapper {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.avatar-wrapper img {
  padding: 1.25rem;
  width: 30%;
  height: 40%;
}

.contacts > li {
  display: inline-block;
  gap: 50rem;
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
  overflow: hidden;
}

.contacts > li > a {
  font-weight: var(--bold-font);
}

/* Media queries for responsiveness */
/* Acceptance Criteria #06 */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero-banner {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero-banner img {
    height: 37.5rem;
    width: 30rem;
  }

  .about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .about h1 {
    text-align: center;
  }

  .about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contacts {
    max-width: 23.75rem;
  }
}

/* Acceptance Criteria #06 */
@media screen and (max-width: 420px) {
  .hero-banner img {
    height: 37.5rem;
    width: 23rem;
  }

  .about {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contacts {
    max-width: 17.75rem;
  }
}
